<ul class=messages>
    <% if (locals.messages) { %>
    <% messages.forEach( msg => { %>
    <p>
        <img class="avatar" src="/user.png">
        <strong><a href="/user/<%= msg.username %>"><%= msg.username %></a></strong>
        <br>
        <%= msg.text %>
        <!-- <small>&mdash; <%= msg.pub_date %></small> TODO: Uncomment when we get dates implemented -->
        <% }) %>
        <% } else { %>
        <em>There's no message so far.</em>
    </p>
    <% } %>
</ul>