<ul class=messages>
    <% if (locals.messages) { %>
    <% messages.forEach( msg => { %>
    <p>
        <img class="avatar" src="/user.png">
        <strong><a href="/user/<%= msg.username %>"><%= msg.userId %></a></strong>
        <br>
        <%= msg.text %>
        <small>&mdash; <%= msg.createdAt %></small>
        <% }) %>
        <% } else { %>
        <em>There's no message so far.</em>
    </p>
    <% } %>
</ul>