global:
  scrape_interval:     20s # By default, scrape targets every 15 seconds.
  evaluation_interval: 20s # Evaluate rules every 15 seconds.

  # Attach these extra labels to all timeseries collected by this Prometheus instance.
  external_labels:
    monitor: 'codelab-monitor'

rule_files:
  - 'prometheus.rules.yml'

scrape_configs:
  - job_name: 'prometheus'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 20s

    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'itu-minittwit-app'

    # Override the global default and scrape targets from this job every 5 seconds.
    scrape_interval: 20s

    static_configs:
      - targets: ['minitwit-app:5001']
        labels:
          group: 'production'