<!doctype html>
<html lang="en">



<body>
    <div id="control">
        <input type="text" name="word"/>
        <button>Search</button>
    </div>
    <div id="content">
        
    </div>
</body>

</html>